dify_config/儀錶板測試.yml
app:
  description: 串接 FinMind 數據進行策略回測
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 儀錶板測試
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: parameter-extractor
      id: 1770907397757-source-1770907528913-target
      selected: false
      source: '1770907397757'
      sourceHandle: source
      target: '1770907528913'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1770907528913-source-1771800000001-target
      selected: false
      source: '1770907528913'
      sourceHandle: source
      target: '1771800000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1771800000001-true-1770912568990-target
      selected: false
      source: '1771800000001'
      sourceHandle: 'true'
      target: '1770912568990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771800000001-false-1771800000002-target
      selected: false
      source: '1771800000001'
      sourceHandle: 'false'
      target: '1771800000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1770912568990-source-1771658568086-target
      selected: false
      source: '1770912568990'
      sourceHandle: source
      target: '1771658568086'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1771658568086-source-1770909970504-target
      selected: false
      source: '1771658568086'
      sourceHandle: source
      target: '1770909970504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1771800000002-source-1771800000003-target
      selected: false
      source: '1771800000002'
      sourceHandle: source
      target: '1771800000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 開始
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: query
      height: 108
      id: '1770907397757'
      position:
        x: 80
        y: 350
      positionAbsolute:
        x: 80
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: 請從用戶的話中提取股票代號。如果是中文名稱（如台積電），請轉換為代號（2330）。若輸入是一般問題而非股票查詢，請回傳空字串。
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        parameters:
        - description: 股票代號，若無則為空字串
          name: ticker
          required: false
          type: string
        query:
        - '1770907397757'
        - query
        reasoning_mode: prompt
        selected: false
        title: 參數提取器
        type: parameter-extractor
        vision:
          enabled: false
      height: 87
      id: '1770907528913'
      position:
        x: 382
        y: 350
      positionAbsolute:
        x: 382
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        conditions:
        - comparison_operator: not-empty
          id: cond-stock-1
          variable_selector:
          - '1770907528913'
          - ticker
        logical_operator: and
        selected: false
        title: 是否為股票查詢
        type: if-else
      height: 126
      id: '1771800000001'
      position:
        x: 680
        y: 350
      positionAbsolute:
        x: 680
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: 'User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
          (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 請求
        type: http-request
        url: 'https://query1.finance.yahoo.com/v8/finance/chart/{{#1770907528913.ticker#}}.TW?interval=1d&range=3mo'
        variables: []
      height: 171
      id: '1770912568990'
      position:
        x: 980
        y: 180
      positionAbsolute:
        x: 980
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport math\n\ndef main(arg1: str, **kwargs):\n    raw_input\
          \ = arg1 if arg1 else list(kwargs.values())[0]\n    \n    try:\n        data\
          \ = json.loads(str(raw_input))\n        res = data['chart']['result'][0]\n\
          \        indicators = res['indicators']['quote'][0]\n        prices = [p\
          \ for p in indicators['close'] if p is not None]\n        highs = [h for\
          \ h in indicators['high'] if h is not None]\n        lows = [l for l in\
          \ indicators['low'] if l is not None]\n        \n        if len(prices) <\
          \ 26:\n            return {\"result\": \"數據不足 26 筆\"}\n\n        # --- MA\
          \ ---\n        ma5 = sum(prices[-5:]) / 5\n        ma20 = sum(prices[-20:])\
          \ / 20\n        \n        # --- RSI ---\n        deltas = [prices[i] - prices[i-1]\
          \ for i in range(1, len(prices))]\n        gains = [d if d > 0 else 0 for\
          \ d in deltas[-14:]]\n        losses = [-d if d < 0 else 0 for d in deltas[-14:]]\n\
          \        rsi = 100 - (100 / (1 + (sum(gains)/14 + 1e-9) / (sum(losses)/14\
          \ + 1e-9)))\n\n        # --- KD ---\n        lowest_low = min(lows[-9:])\n\
          \        highest_high = max(highs[-9:])\n        k_value = (prices[-1] -\
          \ lowest_low) / (highest_high - lowest_low + 1e-9) * 100\n        k_values\
          \ = []\n        for i in range(3):\n            idx = -(i + 1)\n         \
          \   ll = min(lows[-9+idx:len(lows)+idx]) if len(lows)+idx >= 9 else min(lows[:len(lows)+idx])\n\
          \            hh = max(highs[-9+idx:len(highs)+idx]) if len(highs)+idx >=\
          \ 9 else max(highs[:len(highs)+idx])\n            k_val = (prices[idx-1]\
          \ - ll) / (hh - ll + 1e-9) * 100\n            k_values.append(k_val)\n \
          \       d_value = sum(k_values) / 3\n\n        # --- MACD ---\n        def\
          \ ema(data, period):\n            multiplier = 2 / (period + 1)\n         \
          \   result = [data[0]]\n            for price in data[1:]:\n             \
          \   result.append((price - result[-1]) * multiplier + result[-1])\n      \
          \      return result\n        ema12 = ema(prices, 12)\n        ema26 = ema(prices,\
          \ 26)\n        macd_line = ema12[-1] - ema26[-1]\n        macd_hist_full\
          \ = [e12 - e26 for e12, e26 in zip(ema12[-26:], ema26[-26:])]\n        signal_line\
          \ = ema(macd_hist_full, 9)[-1]\n        histogram = macd_line - signal_line\n\
          \n        trend = '多頭' if ma5 > ma20 else '空頭'\n        return {\n     \
          \       \"result\": f\"當前價: {prices[-1]}, RSI: {round(rsi, 2)}, MA5: {round(ma5,\
          \ 2)}, K值: {round(k_value, 2)}, D值: {round(d_value, 2)}, MACD: {round(macd_line,\
          \ 2)}, Signal: {round(signal_line, 2)}, Histogram: {round(histogram, 2)},\
          \ 趨勢: {trend}\"\n        }\n    except Exception as e:\n        return {\"result\"\
          : f\"計算錯誤: {str(e)}\"}"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 程式碼執行
        type: code
        variables:
        - value_selector:
          - '1770912568990'
          - body
          value_type: string
          variable: arg1
      height: 51
      id: '1771658568086'
      position:
        x: 1280
        y: 180
      positionAbsolute:
        x: 1280
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1771658568086'
          - result
          value_type: string
          variable: ticker
        - value_selector:
          - '1770907528913'
          - ticker
          value_type: string
          variable: ticker_code
        selected: false
        title: 輸出（個股）
        type: end
      height: 87
      id: '1770909970504'
      position:
        x: 1580
        y: 180
      positionAbsolute:
        x: 1580
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.75
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: sys-general
          role: system
          text: "你是一位台股投資助理，能回答各種投資相關問題，語氣親切易懂，適合一般投資人。\n\n你可以協助的範圍：\n📚 解釋技術指標（RSI、MACD、KD、均線、布林通道等）\n\
            💡 說明投資基本概念與策略（長期投資、波段操作、停損設定等）\n🏢 介紹台股市場運作（交易時間、漲跌停、融資融券等）\n📰 回答一般財經與總經問題\n\
            🔍 比較不同投資工具的優缺點\n\n若用戶想查詢個股技術分析，請引導他們輸入股票代號（4到6位數字），例如：\n- 2330（台積電）\n\
            - 0050（元大台灣50）\n- 2317（鴻海）\n\n回答時若涉及投資操作建議，最後加上適當免責聲明。"
        - id: user-general
          role: user
          text: "{{#1770907397757.query#}}"
        selected: false
        title: 一般問答 AI
        type: llm
        variables: []
        vision:
          enabled: false
      height: 99
      id: '1771800000002'
      position:
        x: 980
        y: 520
      positionAbsolute:
        x: 980
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1771800000002'
          - text
          value_type: string
          variable: commentary
        selected: false
        title: 輸出（一般）
        type: end
      height: 87
      id: '1771800000003'
      position:
        x: 1280
        y: 520
      positionAbsolute:
        x: 1280
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -200
      y: 100
      zoom: 0.7
  rag_pipeline_variables: []
