dify_config/儀錶板測試.yml
app:
  description: 串接 FinMind 數據進行策略回測
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 儀錶板測試
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: parameter-extractor
      id: 1770907397757-source-1770907528913-target
      selected: false
      source: '1770907397757'
      sourceHandle: source
      target: '1770907528913'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1770907528913-source-1771800000001-target
      selected: false
      source: '1770907528913'
      sourceHandle: source
      target: '1771800000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1771800000001-true-1770912568990-target
      selected: false
      source: '1771800000001'
      sourceHandle: 'true'
      target: '1770912568990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1771800000001-false-1771800000002-target
      selected: false
      source: '1771800000001'
      sourceHandle: 'false'
      target: '1771800000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1770912568990-source-1771658568086-target
      selected: false
      source: '1770912568990'
      sourceHandle: source
      target: '1771658568086'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1771658568086-source-1771900000001-target
      selected: false
      source: '1771658568086'
      sourceHandle: source
      target: '1771900000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1771900000001-source-1770909970504-target
      selected: false
      source: '1771900000001'
      sourceHandle: source
      target: '1770909970504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1771800000002-source-1771800000003-target
      selected: false
      source: '1771800000002'
      sourceHandle: source
      target: '1771800000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 開始
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: query
      height: 108
      id: '1770907397757'
      position:
        x: 80
        y: 350
      positionAbsolute:
        x: 80
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: "請判斷用戶的意圖，並決定是否提取單一股票代號：\n\n【回傳股票代號的情況】\n- 用戶明確詢問「單一股票」的技術分析、走勢、現在狀況\n- 例如：「2330怎麼樣」、「幫我分析台積電」、「0050 RSI 多少」\n- 若是中文名稱（如台積電、鴻海），請轉換為對應代號（2330、2317）\n\n【回傳空字串的情況】\n- 用戶提到多支股票，想要比較或篩選（如：「6187 5871 9941 幫我選出當沖標的」）\n- 用戶問的是一般投資知識、概念、策略\n- 用戶問的是市場行情、總體經濟\n- 用戶要求推薦、排名、比較多支個股\n- 輸入包含「比較」、「選出」、「哪支」、「推薦」、「當沖」等關鍵字且附帶多個代號\n\n原則：寧可回傳空字串（交給一般問答處理），也不要強行提取錯誤的單一代號。"
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        parameters:
        - description: 股票代號，若無則為空字串
          name: ticker
          required: false
          type: string
        query:
        - '1770907397757'
        - query
        reasoning_mode: prompt
        selected: false
        title: 參數提取器
        type: parameter-extractor
        vision:
          enabled: false
      height: 87
      id: '1770907528913'
      position:
        x: 382
        y: 350
      positionAbsolute:
        x: 382
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        conditions:
        - comparison_operator: not-empty
          id: cond-stock-1
          variable_selector:
          - '1770907528913'
          - ticker
        logical_operator: and
        selected: false
        title: 是否為股票查詢
        type: if-else
      height: 126
      id: '1771800000001'
      position:
        x: 680
        y: 350
      positionAbsolute:
        x: 680
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: 'User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
          (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 請求
        type: http-request
        url: 'https://query1.finance.yahoo.com/v8/finance/chart/{{#1770907528913.ticker#}}.TW?interval=1d&range=3mo'
        variables: []
      height: 171
      id: '1770912568990'
      position:
        x: 980
        y: 180
      positionAbsolute:
        x: 980
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport math\n\ndef main(arg1: str, **kwargs):\n    raw_input\
          \ = arg1 if arg1 else list(kwargs.values())[0]\n    \n    try:\n        data\
          \ = json.loads(str(raw_input))\n        res = data['chart']['result'][0]\n\
          \        indicators = res['indicators']['quote'][0]\n        prices = [p\
          \ for p in indicators['close'] if p is not None]\n        highs = [h for\
          \ h in indicators['high'] if h is not None]\n        lows = [l for l in\
          \ indicators['low'] if l is not None]\n        \n        if len(prices) <\
          \ 26:\n            return {\"result\": \"數據不足 26 筆\"}\n\n        # --- MA\
          \ ---\n        ma5 = sum(prices[-5:]) / 5\n        ma20 = sum(prices[-20:])\
          \ / 20\n        \n        # --- RSI ---\n        deltas = [prices[i] - prices[i-1]\
          \ for i in range(1, len(prices))]\n        gains = [d if d > 0 else 0 for\
          \ d in deltas[-14:]]\n        losses = [-d if d < 0 else 0 for d in deltas[-14:]]\n\
          \        rsi = 100 - (100 / (1 + (sum(gains)/14 + 1e-9) / (sum(losses)/14\
          \ + 1e-9)))\n\n        # --- KD ---\n        lowest_low = min(lows[-9:])\n\
          \        highest_high = max(highs[-9:])\n        k_value = (prices[-1] -\
          \ lowest_low) / (highest_high - lowest_low + 1e-9) * 100\n        k_values\
          \ = []\n        for i in range(3):\n            idx = -(i + 1)\n         \
          \   ll = min(lows[-9+idx:len(lows)+idx]) if len(lows)+idx >= 9 else min(lows[:len(lows)+idx])\n\
          \            hh = max(highs[-9+idx:len(highs)+idx]) if len(highs)+idx >=\
          \ 9 else max(highs[:len(highs)+idx])\n            k_val = (prices[idx-1]\
          \ - ll) / (hh - ll + 1e-9) * 100\n            k_values.append(k_val)\n \
          \       d_value = sum(k_values) / 3\n\n        # --- MACD ---\n        def\
          \ ema(data, period):\n            multiplier = 2 / (period + 1)\n         \
          \   result = [data[0]]\n            for price in data[1:]:\n             \
          \   result.append((price - result[-1]) * multiplier + result[-1])\n      \
          \      return result\n        ema12 = ema(prices, 12)\n        ema26 = ema(prices,\
          \ 26)\n        macd_line = ema12[-1] - ema26[-1]\n        macd_hist_full\
          \ = [e12 - e26 for e12, e26 in zip(ema12[-26:], ema26[-26:])]\n        signal_line\
          \ = ema(macd_hist_full, 9)[-1]\n        histogram = macd_line - signal_line\n\
          \n        trend = '多頭' if ma5 > ma20 else '空頭'\n        return {\n     \
          \       \"result\": f\"當前價: {prices[-1]}, RSI: {round(rsi, 2)}, MA5: {round(ma5,\
          \ 2)}, K值: {round(k_value, 2)}, D值: {round(d_value, 2)}, MACD: {round(macd_line,\
          \ 2)}, Signal: {round(signal_line, 2)}, Histogram: {round(histogram, 2)},\
          \ 趨勢: {trend}\"\n        }\n    except Exception as e:\n        return {\"result\"\
          : f\"計算錯誤: {str(e)}\"}"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 程式碼執行
        type: code
        variables:
        - value_selector:
          - '1770912568990'
          - body
          value_type: string
          variable: arg1
      height: 51
      id: '1771658568086'
      position:
        x: 1280
        y: 180
      positionAbsolute:
        x: 1280
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.75
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: sys-stock
          role: system
          text: "你是一位專業的台股技術分析師，請根據以下技術指標數據，用繁體中文給出結構清晰的分析評論。\n\n請依照以下格式回覆：\n\n📈 **趨勢判斷**：說明目前是多頭或空頭，以及均線排列狀況（MA5 vs MA20）。\n\n🔢 **指標解讀**：\n- RSI：數值高低代表的意涵（超買>70、超賣<30）\n- KD：K值與D值的黃金交叉或死亡交叉訊號\n- MACD：MACD線與Signal線的相對位置，以及柱狀圖方向\n\n💡 **短線操作建議**：根據指標綜合判斷，給出具體的短線策略（買進時機、停損參考、注意事項）。\n\n⚠️ 以上為技術分析參考，不構成投資建議，投資人應自行評估風險。"
        - id: user-stock
          role: user
          text: "股票代號：{{#1770907528913.ticker#}}\n技術指標：{{#1771658568086.result#}}"
        selected: false
        title: 股票分析評論
        type: llm
        variables: []
        vision:
          enabled: false
      height: 99
      id: '1771900000001'
      position:
        x: 1580
        y: 180
      positionAbsolute:
        x: 1580
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1771900000001'
          - text
          value_type: string
          variable: commentary
        - value_selector:
          - '1771658568086'
          - result
          value_type: string
          variable: ticker
        - value_selector:
          - '1770907528913'
          - ticker
          value_type: string
          variable: ticker_code
        selected: false
        title: 輸出（個股）
        type: end
      height: 87
      id: '1770909970504'
      position:
        x: 1580
        y: 180
      positionAbsolute:
        x: 1580
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.75
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: sys-general
          role: system
          text: "你是一位專業的台股投資助理，語氣親切易懂，適合一般投資人與進階交易者。\n\n【你的能力範圍】\n📚 解釋技術指標（RSI、MACD、KD、均線、布林通道、成交量等）\n💡 說明投資策略（長期投資、波段操作、當沖、停損停利設定等）\n🏢 介紹台股市場運作（交易時間、漲跌停、融資融券、除權息等）\n📰 回答財經與總體經濟問題\n🔍 協助用戶從多支股票中篩選標的\n\n【處理多股篩選請求的方式】\n當用戶提供多個股票代號並要求篩選或比較時（例如「6187 5871 9941 幫我選當沖標的」）：\n1. 說明你目前無法即時取得這些股票的技術指標數據\n2. 提供「當沖選股的一般判斷標準」，例如：成交量要夠大、波動性適中、RSI 不在極端區間等\n3. 建議用戶逐一輸入股票代號查詢即時技術指標，再依標準自行篩選\n4. 如果用戶已提供指標數據，則直接協助分析比較\n\n【單一股票查詢引導】\n若用戶想查詢個股即時技術分析，請引導他們「直接輸入股票代號」，例如：\n- 輸入「2330」查詢台積電\n- 輸入「0050」查詢元大台灣50\n\n【回覆原則】\n- 回答要有條理，善用分點或表格\n- 涉及操作建議時，最後加上免責聲明\n- 不要捏造不存在的指標數值"
        - id: user-general
          role: user
          text: "{{#1770907397757.query#}}"
        selected: false
        title: 一般問答 AI
        type: llm
        variables: []
        vision:
          enabled: false
      height: 99
      id: '1771800000002'
      position:
        x: 980
        y: 520
      positionAbsolute:
        x: 980
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1771800000002'
          - text
          value_type: string
          variable: commentary
        selected: false
        title: 輸出（一般）
        type: end
      height: 87
      id: '1771800000003'
      position:
        x: 1280
        y: 520
      positionAbsolute:
        x: 1280
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -200
      y: 100
      zoom: 0.7
  rag_pipeline_variables: []
